:root {
	/* --sheets: ; will be set dynamically with javascript during initialization */
	--global-margin-top: min(8vw, 8vh);
	--global-margin-right: min(8vw, 8vh);
	--global-margin-bottom: min(8vw, 8vh);
	--global-margin-left: min(8vw, 8vh);
}

* {
	box-sizing: border-box;
	transition: ease-in-out .1s;
}

html {
	scroll-snap-type: mandatory;
	scroll-snap-points-y: repeat(100vh);
	scroll-snap-type: y mandatory;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: lighter;
	font-size: min(4vh, 4vw);
}

body {
	margin-right: var(--global-margin-right);
	margin-left: var(--global-margin-left);
}

/* --sheet-index will be set inline on every affected element */
.position:nth-of-type(1n) {
	top: calc((var(--sheet-index) - 1) * 100vh / var(--sheets));
}

.position {
	scroll-snap-align: initial;
	position: sticky;
	position: -webkit-sticky;
	background: lightgreen;
	width: 1vw;
	height: calc(100vh / var(--sheets));
	margin-left: -1vw;
}

section {
	scroll-snap-align: start;
	height: 100vh;
	position: relative;
	padding-top: calc(2 * var(--global-margin-top));
	padding-bottom: calc(2 * var(--global-margin-bottom));
	text-align: center;
}

svg {
	align-self: center;
	width: 2em;
	height: 2em;
	position: relative;
	cursor: pointer;
	vertical-align: middle;
	margin: 0 1em;
}

input:checked+label::after {
	position: absolute;
	margin-top: -.5em;
	margin-left: -.9em;
	content: 'x';
	color: grey;
	font-size: 1.5em;
}

@media (orientation:portrait) {
	input:checked+label[big]::after {
		margin-top: -2.25em;
		margin-left: .4em;
		font-size: 4em;
	}
}

@media (orientation:landscape) {
	input:checked+label[big]::after {
		margin-top: -.3em;
		margin-left: -.6em;
		font-size: 4em;
	}
}

.red {
	fill: red;
	stroke: red;
}

.yellow {
	fill: orange;
	stroke: orange;
}

.green {
	fill: green;
	stroke: green;
}

.pink {
	fill: rgb(247, 166, 247);
	stroke: rgb(247, 166, 247);
}

.grey {
	fill: grey;
	stroke: grey;
}

.activeshiftkey {
	background-color: turquoise !important;
}

.big {
	width: 6em;
	height: 6em;
	display: block;
}

@media (orientation:portrait) {
	.big {
		display: block;
		margin: 1em auto;
	}
}

@media (orientation:landscape) {
	.big {
		display: inline-block;
		margin: 1em;
	}
}

.nav_up {
	position: absolute;
	top: var(--global-margin-top);
	right: 0;
	transform: rotate(90deg) scale(1.2);
	margin: initial;
}

.nav_down {
	position: absolute;
	bottom: var(--global-margin-bottom);
	right: 0;
	transform: rotate(-90deg) scale(1.2);
	margin: initial;
}

a {
	display: block;
}

a,
.button,
.key {
	background: lightgrey;
	margin: .5em;
	cursor: pointer;
	vertical-align: middle;
	min-height: 1.75em;
	text-decoration: none;
	color: inherit;
}

.key,
.spacekey {
	display: inline-block;
	width: 1.5em;
	margin: 0.075em;
}

.keyrow {
	display: block;
}

.spacekey {
	width: 9.75em;
}

a>svg,
div[class=button]>svg,
div[class=key]>svg,
div[class="key activeshiftkey"]>svg {
	margin: 0;
	width: 1em;
	height: 1em;
}

h1 {
	font-size: 1.5em;
	font-weight: inherit;
}

textarea {
	font-family: 'Courier New', Courier, monospace;
	width: 88%;
	max-width: 31em;
	height: 5em;
}

input[type=radio] {
	display: none
}

#growlNotif {
	border: lightgrey;
	background-color: dimgrey;
	color: white;
	box-shadow: .1em .1em .3em 0em grey;
	position:fixed;
	z-index:2;
	font-size: 1rem;
	padding:1em;
	width:15em;
	bottom:	var(--global-margin-bottom);
	right: calc(-1 * (15em + var(--global-margin-right)));
}
#growlNotif.show{
	right:	var(--global-margin-right);
}